@import '~bootstrap/scss/bootstrap';
$text-color: #fff;
$background-color: #000;
$title-color: #fff;
$secondary-title-color: #bf0000;
$button-hover-color: #bf0000;
$form-title-text: #999;
$form-background-color: rgba(0, 0, 0, .85);
$button-background: #d3d3d3;
$button-text: #000;
$blink-color: #faa;
$challenge-title-color: #bf0000;
$link-color: #f11;
$link-hover: #bf0000;
$model-title: #000;
$editable-text: #90ee90;

body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
}

button {
  background-color: $button-background;
  color: $button-text;
  margin: 5px;
}

.navbar-menu {
  align-self: flex-end;
}

.create-challenge-display {
  display: flex;
  flex-direction: column;
}

.display {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 85vw;
}

header {
  color: $title-color;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  margin-top: 5px;
}

main {
  align-items: center;
  color: $title-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto 0;
}

.title-challenge {
  color: $secondary-title-color;
}

h4 {
  color: $text-color;
  margin-top: 10px;
}

.form-div {
  background-color: $form-background-color;
  border-radius: 10px;
  height: 325px;
}

.sign-up-display {
  color: $form-title-text;
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: 25px;
  max-width: 350px;
  min-height: 170px;
  min-width: 275px;
  width: 45vw;
}

.sign-in-display {
  color: $form-title-text;
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: 25px;
  max-width: 350px;
  min-height: 145px;
  min-width: 275px;
  width: 45vw;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 45vw;
}

.crud-form {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 45vw;
}

.challenge {
  background-color: $form-background-color;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding: 10px;
  width: 80%;

  > h3 {
    color: $challenge-title-color;
    display: block;
  }

  > p {
    display: block;
  }
}

.submit {
  background-color: $button-background;
  border-radius: 5px;
  margin: 5px 10px;
  min-height: 35px;
}

.swap-form-display {
  margin-bottom: 80px;

  > .swap-form-message {
    display: inline-block;
  }
}

a {
  color: $link-color;

  > :hover {
    color: $link-hover;
  }
}

.modal-title {
  color: $model-title;
}

.modal-alert {
  color: $model-title;
}

.editable-text {
  color: $editable-text;
}

.hidden {
  display: none;
}
